h1{
    text-align: center;
}
.content{
    padding-top: 10px;
    font-weight: bold;
}
#success{
    padding:5px;
    text-align: center;
    color:green;
}

#error{
    padding:5px;
    text-align: center;
    color:red;
}